<mat-toolbar color="primary">
    <div [routerLink]="['']">
        <div class="title">{{ title }}</div>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <button mat-button class="margin-left-15" [routerLink]="['chores']">Chore Management</button>
    <button mat-button>To do</button>
    <span class="example-fill-remaining-space"></span>
    <button mat-button [routerLink]="['register']">Register</button>
    <button mat-button [routerLink]="['login']">Login</button>
</mat-toolbar>