<div>
    <div>
        <section class="mat-typography">
            <h1>Create chore </h1>
        </section>
    </div>
    <div class="mat-elevation-z5 form-container">
        <div fxLayout="row">
            <div fxFlexOffset="92">               
                <mat-icon class="margin-top-10 clickable" (click)="onCancel()">highlight_off</mat-icon>
            </div>
        </div>
        <form [formGroup]="createChoreForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput type="text" formControlName="name" id="name" name="name" placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" formControlName="frequency" id="frequency" name="frequency" placeholder="Frequency in days">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="lastTime" placeholder="Last time done" formControlName="lastTime">
                <mat-datepicker-toggle matSuffix [for]="lastTime"></mat-datepicker-toggle>
                <mat-datepicker #lastTime></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!createChoreForm.valid">Submit</button>
        </form>
    </div>
</div>