<div>
    <div>
        <section class="mat-typography">
            <h1>Create chore </h1>
        </section>
    </div>
    <div class="mat-elevation-z5">
        <form [formGroup]="createChoreForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput type="text" formControlName="name" id="name" name="name" placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" formControlName="frequency" id="frequency" name="frequency" placeholder="Frequency in days">
            </mat-form-field>
            <div fxLayout="row-reverse">
                <div fxFlex="20">
                    <button mat-raised-button color="accent" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>